.wrapper {
  background-color: floralwhite;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
}

.content {
  height: 100%;
}
.window-wrap {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.window {

  display: grid;
  grid-template-rows: 1fr 40fr 1fr;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);;
  background-color: white;
  width: 375px;
  height: 812px;
  border-radius: 15px;
}


.bottom-billet {
  width: 160px;
  height: 6px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: black;

}

.content {
  padding: 20px 0;
}