.appItem {
  &__wrapper {

    cursor: pointer;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(198, 204, 236, 0.2);
    transition: background-color .4s ease;
    &:hover {
      background-color: cornflowerblue;
    }
  }
  &__details {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  &__title {
    font-weight: 700;
    color: black;
  }
  &__place {
    font-weight: 400;
  }
  &__date {
    margin-left: 6px;
    font-weight: 300;
  }
}